* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #0c0c10;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
header {
  background-image: url(images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 80%;
  width: 100%;
  height: 100vh;
}
.span-color {
  color: #ff004f;
}
nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #1f2833;
  position: fixed;
  z-index: 3;
}
.left > h1 {
  font-size: 33px;
}
.right > ul > li {
  display: inline-block;
  list-style: none;
  margin: 20px 20px;
}
.right > ul > li > a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
.right > ul > li > a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
.right > ul > li > a:hover::after {
  width: 100%;
}
.header-text {
  padding: 10%;
  width: 35%;
}
.header-text > h1 {
  font-size: 40px;
}
/* ---------------------about-------------- */
.about {
  padding: 80px 0;
  color: #ababab;
  margin: 40px;
}
.about-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-column-1 {
  flex-basis: 35%;
  padding-left: 50px;
}
.about-column-1 > img {
  width: 100%;
  height: 90%;
  /* border: 1px solid red; */
  border-radius: 15px;
  background-color: #1f2833;
}
.sub-title {
  font-weight: 600;
  font-size: 60px;
  color: #fff;
}
.about-column-2 {
  flex-basis: 55%;
}
.about-column-2 > h1 {
  font-size: 45px;
  text-decoration: underline;
  text-underline-position: under;
  margin-bottom: 14px;
}
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 50px;
  font-weight: 500;
  cursor: pointer;
  font-size: 18px;
  position: relative;
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 50%;
}
.tab-contents > ul > li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents > ul > li > span {
  color: #ff004f;
  font-size: 14px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}
/* ------------------skills------------- */
.skills-container {
  width: 92%;
  margin: auto;
  margin-bottom: 40px;
}
.skills-container-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 59px;
}
.skills-container-h1 {
  text-align: center;
  text-decoration: underline;
  text-underline-position: under;
}
.skill-container-column {
  padding: 10px;
}
.skill-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  margin-top: 59px;
}
.skill-img > img {
  height: 100px;
  width: 100px;
}

.skill-img > .move-left {
  transition: transform 0.5s;
}
.skill-img > .move-left:hover {
  transform: translateX(-50px);
}
.skill-tool-name:hover {
  color: #ff004f;
  cursor: pointer;
  text-decoration: underline;
}
.skill-img > .move-right {
  transition: transform 0.5s;
}
.skill-img > .move-right:hover {
  transform: translateX(50px);
}
.tools-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  margin-top: 59px;
}
.tools-img > img {
  height: 100px;
  width: 100px;
}
.tools-img > .move-left {
  transition: transform 0.5s;
}
.tools-img > .move-left:hover {
  transform: translateX(-50px);
}
.tools-img > .move-right {
  transition: transform 0.5s;
}
.tools-img > .move-right:hover {
  transform: translateX(50px);
}
/* --------------------projects------------ */
#projects {
  padding: 50px 0;
}
.project-container {
  width: 92%;
  margin: auto;
}
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 59px;
}
.work {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.work > img {
  display: block;
  border-radius: 10px;
  width: 100%;
  transition: transform 0.5s;
}
.layer {
  width: 100%;
  height: 0%;
  border-radius: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}
.live-links {
  display: flex;
  /* justify-content: space-around; */
}
.layer > h3 {
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 20px;
}
.layer > p{
  font-size: 8px;
}
.layer > .live-links > a > svg {
  margin-top: 20px;
  color: #ff004f;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  margin-right: 20px;
}
.work:hover img {
  transform: scale(1.1);
}
.work:hover .layer {
  height: 100%;
}
/* -------------------contact------------- */
.contact-container {
  width: 92%;
  margin: auto;
}
.contact-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 59px;
}
.contact-left {
  flex-basis: 35%;
}
.contact-right {
  flex-basis: 60%;
}
.contact-left > p {
  margin-top: 30px;
}
.contact-left > p > svg {
  margin-right: 15px;
  font-size: 25px;
}
.social-icons {
  margin-top: 30px;
}
.social-icons > a {
  text-decoration: none;
  margin-right: 15px;
  font-size: 30px;
  display: inline-block;
  margin-left: 15px;
}
.social-icons > a > svg {
  height: 40px;
  width: 40px;
}
.social-icons > a > svg > path {
  fill: #ababab;
  transition: transform 0.5s;
}
.social-icons > a > svg > path:hover {
  fill: #ff004f;
  transform: translateY(-5px);
}
.btn {
  display: inline-block;
  margin: 30px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: background 0.5s;
}
.btn:hover {
  background-color: #ff004f;
}
.contact-right > form {
  width: 90%;
}
form > input,
form > textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
form > button {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}
/* ----------------footer------- */
.copyright {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #1f2833;
  font-weight: 300;
  margin-top: 20px;
}
/* -----------css for small screens------ */
nav .fas {
  display: none;
}
@media only screen and (max-width: 768px) {
  header {
    background-image: url(images/background-small.jpg);
    width: 100%;
    height: 100vh;
  }
  .header-text {
    
    font-size: 16px;
    width: 80%;
    text-align: center;
  }
  .header-text > h1 {
    font-size: 30px;
    margin-top: 40%;
  }
  nav {
    position: fixed;
  }
  nav .fas {
    display: block;
    /* font-size: 50px; */
    height: 25px;
    width: 25px;
  }
  nav .fas > path {
    fill: #ababab;
  }
  .right > ul {
    background: #ff004f;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  .right > ul > li {
    display: block;
    margin: 25px;
  }
  .right > ul > .fas {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .about-column-1 > img{
    width: 50%;
    height:auto;
    margin: 20px;
    margin-left: 70px;
  }
  .about-column-2{
    font-size: 12px;
    margin: 40px;
  }
  .sub-title {
    font-size: 20px;
  }
  .about-column-1,
  .about-column-2 {
    flex-basis: 100%;
  }
  
  .about-column-2 {
    font-size: 14px;
  }
  .about-column-2 > h1 {
    font-size: 20px;
  }
  .about-column-2 > h4{
    font-size: 12px;
  }
  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }
  .copyright {
    font-size: 14px;
  }
  
  .tools-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-top: 59px;
  }
  .skill-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-top: 59px;
  }
  .skill-img > img {
    height: 60px;
    width: 60px;
  }
  .skill-tool-name {
    font-size: 20px;
  }
  .tools-img > img {
    height: 60px;
    width: 60px;
  }
  .layer > h3 {
    font-size: 8px;
  }
  .layer > p{
    font-size: 6px;
  }
  
}

/* -----------css for medium screens------ */
@media (min-width: 768px) and (max-width: 1200px) {
  header {
    background-image: url(images/background.jpg);
    width: 100%;
    height: 100vh;
  }
  .header-text {
    
    font-size: 16px;
    width: 80%;
    text-align: center;
  }
  .header-text > h1 {
    font-size: 40px;
    margin-top: 40%;
  }
  nav {
    position: fixed;
  }
  
  .about-column-1 > img{
    width: 30%;
    height:auto;
    margin: 20px;
    margin-left: 30px;
  }
  .about-column-2{
    font-size: 12px;
    margin: 40px;
  }
  .sub-title {
    font-size: 20px;
  }
  .about-column-1,
  .about-column-2 {
    flex-basis: 100%;
  }
  
  .about-column-2 {
    font-size: 14px;
  }
  .about-column-2 > h1 {
    font-size: 20px;
  }
  .about-column-2 > h4{
    font-size: 12px;
  }
  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }
  .copyright {
    font-size: 14px;
  }
  
  .tools-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-top: 59px;
  }
  .skill-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-top: 59px;
  }
  .skill-img > img {
    height: 60px;
    width: 60px;
  }
  .skill-tool-name {
    font-size: 20px;
  }
  .tools-img > img {
    height: 60px;
    width: 60px;
  }
  .layer > h3 {
    font-size: 14px;
  }
  .layer > p{
    font-size: 10px;
  }
  
}


#msg {
  color: #61b752;
  display: block;
  margin-top: -10px;
}
